body {
  font-family: "Roboto";
  color: rgb(24, 24, 24);
  background: linear-gradient(to right, #28adc4, #1da3d8);
  background-size: cover;
  text-align: center;
  background: rgb(218, 218, 218);
  background-image: linear-gradient(rgba(187, 187, 187, 0.13) .1em, transparent .1em), linear-gradient(90deg, rgba(175, 175, 175, 0.13) .1em, transparent .1em);
  background-size: 5em 5em;
  padding: 5px;
}

* {
  user-select: none;
}

*:focus {
  outline: 0 !important;
}

*:active {
  outline: 0 !important;
}

* {
  outline: 0 !important;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.roumaji-answer {
  padding: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 0;
  box-shadow: 3px 3px 0px #0000002e;
  font-size: 24px;
  background: rgb(243, 243, 243);
  padding-left: 1em;
  padding-right: 1em;
}

.roumaji-answer:hover {
  background: rgb(228, 228, 228);
}

.roumaji-answer:disabled:hover {
  background: rgb(204, 204, 204);
}

.failed {
  background: rgb(204, 204, 204);
}

h1 {
  margin: 0;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 8px 11px 0px #0000002e;
}

.card-header {
  color: white;
  background: rgb(122, 85, 223);
  border-radius: 25px 25px 0px 0px;
  padding: 1.7em;
  font-size: 2em;
}

.card-body {
  background: white;
  border-radius: 0px 0px 25px 25px;
  padding: 1.5em;
  padding-top: 2em;
  padding-bottom: 3em;
  font-weight: 700;
}

hr {
  border: black 0px solid;
  background: #0000002e;
  height: 0.5px;
  width: 70%;
  margin-bottom: 2em;
}

.wins-container {
  font-size: 17px;
  font-weight: bold;
}

.wins-label {
  color: rgb(0, 124, 128);
}

.fails-label {
  color: rgb(255, 0, 119);
}

@media screen and (max-width: 630px) {
  .roumaji-answer {
    font-size: calc(14px + 1.4vw);
  }
}