html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  min-height: 670px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.app-container {
  font-family: "Roboto";
  color: rgb(24, 24, 24);
  background-size: cover;
  text-align: center;
  background: rgb(218, 218, 218);
  transition: background 0.5s ease, color 0.5s ease;
  min-height: 670px;
  height: 100vh;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.app-container.dark {
  background: rgb(24, 21, 29);
  color: white;
}

.dark {
  transition: background 0.5s ease, color 0.5s ease;
}

* {
  user-select: none;
}

*:focus {
  outline: 0 !important;
}

*:active {
  outline: 0 !important;
}

* {
  outline: 0 !important;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.kind-button {
  padding: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 17px;
  margin-top: 1em;
  border-radius: 10px;
  border: 0;
  box-shadow: 3px 3px 0px #0000002e;
  font-size: 20px;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.8s ease, background 0.5s ease, color 0.5s ease;
}

.kind-button.dark {
  box-shadow: 3px 3px 0px #00000080;
}

.kind-button.hiragana {
  background: #559fb6;
}

.kind-button.hiragana.dark {
  background: #427d8f;
}

.kind-button.wins-label.hiragana .dark {
  background: #407788;
}

.kind-button.katakana {
  background: #df5c83;
}

.kind-button.katakana.dark {
  background: #cc5377;
}

.dark-theme-button {
  padding: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 0;
  box-shadow: 3px 3px 0px #0000002e;
  font-size: 20px;
  background: rgb(238, 238, 238);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 13px;
  transition: box-shadow 0.8s ease, background 0.5s ease, color 0.5s ease;
  position: absolute;
  right: 4px;
  top: 20px;
}

.dark-theme-button.dark {
  box-shadow: 3px 3px 0px #00000088;
  background: rgb(45, 39, 53);
}



hr.dark {
  background: #f5f5f52b;
}

.roumaji-answer {
  padding: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 0;
  box-shadow: 3px 3px 0px #0000002e;
  font-size: 24px;
  background: rgb(243, 243, 243);
  padding-left: 1em;
  padding-right: 1em;
  transition: box-shadow 0.8s ease, background 0.5s ease, color 0.5s ease;
}

.roumaji-answer.dark {
  box-shadow: 3px 3px 0px #00000080;
}

.roumaji-answer.dark {
  background: rgb(81, 76, 88);
  color: rgb(219, 219, 219);
}

.roumaji-answer.dark:disabled {
  background: rgb(36, 34, 39);
  color: rgb(83, 83, 83);
}

.failed {
  background: rgb(204, 204, 204);
}

h1 {
  margin: 0;
}

.card {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 8px 11px 0px #0000002e;
}

.card.dark {
  box-shadow: 8px 11px 0px #00000063;
  transition: box-shadow 0.5s ease;
}

.card-header {
  color: white;
  background: rgb(122, 85, 223);
  border-radius: 25px 25px 0px 0px;
  padding: 1.7em;
  font-size: 2em;
  transition: background 0.5s ease, color 0.5s ease;
}

.card-header.wins-label.hiragana {
  background: #376877;
}

.card-header.hiragana.dark {
  background: #417a8b;
}

.card-header.katakana.dark {
  background: #cc4d73;
}

.card-header.hiragana {
  background: #559fb6;
}

.card-header.hiragana.wrong-answer {
  background: #44707e;
}

.card-header.hiragana.wrong-answer.dark {
  background: #20414b;
}

.card-header.katakana {
  background: #df5c83;
}

.card-header.katakana.wrong-answer {
  background: rgb(52, 76, 155);
  background: #ad4766;
}

.card-header.katakana.wrong-answer.dark {
  background: #7a2942;
}

.card-body {
  background: white;
  border-radius: 0px 0px 25px 25px;
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: 700;
  transition: background 0.5s ease, color 0.5s ease;
}

.card-body.dark {
  background: rgb(31, 27, 36);
}

hr {
  border: black 0px solid;
  background: #0000002e;
  height: 0.5px;
  width: 70%;
  margin-bottom: 1.7em;
  margin-top: 1em;
}

.wins-container {
  font-size: 2em;
  font-weight: bold;
}

.wins-label.hiragana {
  color: #559fb6;
}

.wins-label.katakana {
  color: #df5c83;
}

.fails-label {
  color: rgba(138, 138, 138, 0.63);
}

.reset-button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 18px;
  border-radius: 5px;
  border: 0;
  box-shadow: 3px 3px 0px #0000002e;
  font-size: 26px;
  background: rgb(243, 243, 243);
  padding-left: 1em;
  padding-right: 1em;
  transition: box-shadow 0.8s ease, background 0.5s ease, color 0.5s ease;
}

.reset-button.dark {
  box-shadow: 3px 3px 0px #00000080;
  background: rgb(64, 60, 70);
}

.range-container {
  margin-bottom: 1em;
}

.diff-range {
  width: 170px;
}

.range-icon {
  font-size: 20px;
}

@media screen and (max-width: 630px) {
  .roumaji-answer {
    font-size: calc(14px + 1.4vw);
  }

  .reset-button {
    font-size: calc(20px + 1vw);
  }
}

.hoverable.roumaji-answer:hover {
  background: rgb(228, 228, 228);
}

.hoverable.roumaji-answer:disabled:hover {
  background: rgb(204, 204, 204);
}

.hoverable.roumaji-answer:disabled:hover {
  background: rgb(204, 204, 204);
}

.hoverable.roumaji-answer.dark:disabled:hover {
  background: rgb(36, 33, 39);
}

.hoverable.roumaji-answer:hover {
  cursor: pointer;
  background: rgb(228, 228, 228);
}

.hoverable.roumaji-answer.dark:hover {
  cursor: pointer;
  background: rgb(59, 53, 61);
}

.hoverable.kind-button.hiragana:hover {
  cursor: pointer;
  background: #3b6f80;
}

.hoverable.kind-button.katakana:hover {
  cursor: pointer;
  background: #ac4261;
}

.hoverable.kind-button.hiragana.dark:hover {
  cursor: pointer;
  background: #3a6674;
}

.hoverable.kind-button.katakana.dark:hover {
  cursor: pointer;
  background: #aa4866;
}

.hoverable.reset-button:hover {
  cursor: pointer;
  background: rgb(228, 228, 228);
}

.hoverable.reset-button.dark:hover {
  cursor: pointer;
  box-shadow: 3px 3px 0px #00000080;
  background: rgb(51, 47, 56);
}

.hoverable.dark-theme-button.dark:hover {
  box-shadow: 3px 3px 0px #00000088;
  background: rgb(29, 25, 34);
  cursor: pointer;
}

.hoverable.dark-theme-button:hover {
  background: rgb(216, 216, 216);
  cursor: pointer;
}